@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

button {
    background-color: #181818;
    border: none;
    cursor: pointer;
}

body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.none {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.flex {
    display: flex;
}

.burger {
    display: none;
}

/* header */

.header-nav {
    min-height: 90px;
    background-color: #181818;
}

.nav {
    position: relative;
    justify-content: space-between;
    padding: 10px 15px;
    max-width: 1140px;
    margin: 0 auto;
}

.nav-list {
    align-items: center;
    gap: 32px;
    font-size: 13px;
}

.nav-list li:last-child {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 14px;
}

.nav-list li:last-child a {
    color: #000;
    transition: 0.3s linear;
}

.nav-list li:last-child:hover {
    background-color: #C0C0C0;
    cursor: pointer;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
}


.nav-item :hover {
    color: #C0C0C0;
}

.hero {
    position: relative;
    background-image: url(./../img/header-img/hero-bg.png);
    background-position: center;
    background-size: cover;
}

.hero-content {
    padding: 410px 25% 100px;
    text-align: center;
    color: #C0C0C0;
}

.subtitle {
    font-size: 14px;
    color: #C0C0C0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-title {
    color: #fff;
    font-size: 54px;
}

.hero-descr {
    line-height: 20px;
    font-size: 14px;
}

.camera-icons {
    position: absolute;
    justify-content: flex-end;
    right: 40px;
    bottom: 40px;
    gap: 24px;
    color: #fff;
    font-size: 12px;
}

.camera-icons span {
    margin-left: 5px;
    vertical-align: super;
}

/* burger */

.burger-list {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: #000;
}

.burger-list a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.burger-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 32px;
}


/* modal */

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.8);
    z-index: 2;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    background-color: #181818;
    border-radius: 15px;
}

.modal-title {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid #C0C0C0;
}

.modal-descr {
    text-align: left;
    padding: 25px;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #C0C0C0;
}

.modal-bottom {
    margin-bottom: 15px;
    margin-left: 10px;
}

.modal-button {
    background-color: #fff;
    border-radius: 15px;
    height: 40px;
    padding: 15px;
    font-size: 16px;
    line-height: 0.8;
    transition: 0.3s linear;
}

.modal-button:hover {
    opacity: 0.8;
}

/* main */

.main {
    background-color: #000;
}

.what-we-do {
    position: relative;
    padding: 15px;
    background-color: #000;
    color: #fff;
}

.title-wrapper {
    text-align: center;
}

.main-title {
    font-size: 40px;
    margin-bottom: 15px;
}

.main-subtitle {
    font-size: 23px;
    color: #C0C0C0;
    margin-bottom: 42px;
}

.cards {
    max-width: 1290px;
    margin: 0 auto 100px;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
}

.card-item {
    max-width: 620px;
    max-height: 650px;
    background-size: cover;
    background-position: center;
}

.card-item h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.card-item p {
    text-align: left;
    color: #C0C0C0;
    font-size: 14px;
    margin-bottom: 30px;
}

.descr-wrapper {
    margin: 75% 45px 70px 30px;
}

.product {
    background-image: url(./../img/main-img/what-we-do/card-photo.png);
}

.architecture {
    background-image: url(./../img/main-img/what-we-do/card-arch.png);
}

.drone {
    background-image: url(./../img/main-img/what-we-do/card-drone.png);
}

.wildlife {
    background-image: url(./../img/main-img/what-we-do/card-wild.png);
}

.card-button {
    background-color: #fff;
    text-decoration: none;
    border-radius: 14px;
    color: #000;
    padding: 10px;
    transition: 0.3s linear;
}

.card-button:hover {
    background-color: #C0C0C0;
}

.photo-example {
    position: relative;
    background-image: url(./../img/main-img/photo-examples/mount.jpg);
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
    min-height: 700px;
}

.text-wrapper {
    margin: 0 60px;
    max-width: 300px;
}

.mount-title {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
}

.mount-subtitle {
    color: #C0C0C0;
    font-size: 16px;
    line-height: 20px;
}

.instrumets-photo {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background-image: url(./../img/main-img/photo-examples/instr.jpg);
    background-position: center;
    background-color: darkgrey;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    color: #fff;
}

.instr-descr {
    color: #C0C0C0;
}

.instr-text {
    color: #C0C0C0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.instr-title {
    font-size: 28px;
}

.green-photo {
    position: relative;
    background-image: url(./../img/main-img/photo-examples/green.jpg);
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
    min-height: 700px;
}

.clients-text {
    text-align: center;
    margin: 110px 0;
    color: #fff;
}

.client-title {
    font-size: 40px;
}

.clients-subtitle {
    font-size: 24px;
}

.clients-logos {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.logos-list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 110px;
}

.star-photo {
    position: relative;
    background-image: url(./../img/main-img/photo-examples/1star-fall.jpg);
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
    min-height: 700px;
}

.clients {
    margin-bottom: 50px;
}

.bottom-section {
    text-align: center;
    margin: 0 auto;
}

.bottom-text-wrapper {
    padding: 15px 30px;
    margin-top: 120px;
}

.bottom-title {
    color: #fff;
    font-size: 40px;
}

.bottom-subtitle {
    color: #C0C0C0;
    font-size: 24px;
}



/* footer */

.footer-top h3 {
    margin: 0;
    font-size: 13px;
    color: #C0C0C0;
    letter-spacing: 2px;
}

.footer {
    background-color: #000;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top {
    gap: 30px;
    padding: 100px 30px 35px 30px;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

.footer-top a {
    color: #fff;
    text-decoration: none;
    transition: 1s linear;
}

.footer-logo {
    max-width: 300px;
}

.footer-logo-text {
    font-size: 13px;
    color: #C0C0C0;
}

.footer-list li:not(last-child) {
    margin-top: 10px;
}

.footer-top a :hover {
    color: #0c8ce9;
}


.footer-list-item {
    font-size: 14px;
}

.footer-middle {
    align-items: center;
    padding: 35px 30px;
    border-bottom: 2px solid #fff;
}

.footer-middle-text {
    margin-right: auto;
}

.footer-middle-title {
    font-size: 14px;
    letter-spacing: 2px;
}

.footer-middle-subtitle {
    font-size: 13px;
    color: #C0C0C0;
}

.footer-input {
    max-width: 270px;
    border: none;
    font-size: 14px;
    border-radius: 14px;
    height: 50px;
    padding-left: 35px;
    transition: 0.3s linear;
}

.footer-input:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #fff;
}

.input-button {
    margin-left: 10px;
    background-color: #fff;
    height: 50px;
    border-radius: 12px;
    font-size: 14px;
    padding: 5px 15px;
    transition: 0.3s linear;
}

.input-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-bottom {
    align-items: center;
    padding: 35px 30px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.copyr {
    font-size: 14px;
    color: #C0C0C0;
}

.footer-links a {
    color: #000;
    fill: #C0C0C0;
}

.footer-links a :hover {
    fill: #0c8ce9;
}

.footer-links a:not(:last-child) {
    margin-right: 20px;
}

.form {
    position: relative;
}

.animation {
    opacity: 0;
    animation: ani 4s forwards;
}

.succs-img {
    position: absolute;
    top: 10px;
    left: 5px;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* media */

@media screen and (max-width:800px) {
    .nav-list {
        gap: 15px;
    }

    .modal-container {
        width: 70%;
    }

}

@media screen and (max-width:720px) {
    .nav-list {
        display: none;
    }

    .modal-container {
        width: 85%;
    }

    .subtitle {
        color: #000;
    }

    .header-nav {
        min-height: 50px;
    }

    .nav {
        padding: 10px 30px;
    }

    .burger {
        display: block;
    }

    .hero-content {
        padding: 30% 100px;
    }

    .main>div:not(:last-child) {
        margin-top: 0;
        min-height: 450px;
    }

    .text-wrapper {
        margin: 0 15px;
        max-width: 350px;
    }


    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-middle {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .footer-middle-text {
        margin-right: 0;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 460px) {
    .hero-content {
        padding: 30% 25px;
    }

    .camera-icons {
        gap: 10px;
    }

    .camera-icons span {
        margin: 0;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer-btn {
        margin: 0;
    }
}